{% extends 'base.html' %}

{% block title %}SHRI SIDDHI VINAYAK EDUCATIONAL TRUST TIBBI - Director's Message{% endblock %}

{% block content %}
<div class="mid">
    <div class="indexmid">
        <div class="indexmid2">
            <div class="indexmid21">
                <div class="directorphoto">
                    <img src="{{ url_for('static', filename='images/director.jpeg') }}" alt="Director's Photo">
                </div>
            </div>
            <div class="indexmid22">
                <div class="directormessage">
                    <img src="{{ url_for('static', filename='images/Pointer.png') }}" alt=""><br>
                    <b class="toptext-3">Mr. Gauri Shankar Kalyani</b><BR>
                    <p class="message">
                        <strong>Dear Parents/Guardians,</strong>
                        <br>
                        Shri Siddhi Vinayak Educational Trust has always been at the forefront of education in India in terms of quality of higher education. This has been made possible with the blessings of our elders, visionary members of the school managing committee, supportive parents and dedicated staff who have relentlessly strived to deliver quality education.
                        <br>
                        <br>
                        Since its inception, we have always been committed to providing high quality of higher education that emphasizes not only gaining knowledge but also focuses on the student's holistic development.
                        <br>
                        <br>
                        For its continuous improvement, we listen and respond to parent's concerns and needs of a changing society. Our child-centered approach to teaching and learning at the trust level has become successful in terms of the overall development of the children.
                        <br>
                        <br>
                        We have infrastructure of an international standard supported by state-of-the-art facilities, and a team of professionals to nurture the creative minds of students. We reiterate our commitment to provide a nurturing environment and every facility possible to ensure a high quality education every student deserves in today's globalized world.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
