{% extends 'base.html' %}

{% block title %}SHRI SIDDHI VINAYAK EDUCATIONAL TRUST TIBBI - Principal's Message{% endblock %}

{% block content %}
<div class="mid">
    <div class="indexmid">
        <div class="indexmid2">
            <div class="indexmid21">
                <div class="directorphoto">
                    <img src="{{ url_for('static', filename='images/Principal.jpeg') }}" alt="Principal Photo">
                </div>
            </div>
            <div class="indexmid22">
                <div class="directormessage">
                    <img src="{{ url_for('static', filename='images/Pointer.png') }}" alt="">
                    <b class="toptext-3">Mr. Punit Kumar Kalyani</b><BR>
                    <p class="message">
                        <strong>Dear Parents/Guardians,</strong>
                        <br />
                        It gives me immense pleasure to welcome all the students of Under-graduate courses. Our trust, enjoying a total autonomous status for the last several years. I am duty-bound to thank the Management, the Staff and the Students for these achievements.
                        <br />
                        <br />
                        The students must exhibit exemplary behavior even outside the trust without getting themselves provoked or letting themselves be taken for a ride especially while travelling. Directly or indirectly, knowingly or unknowingly, they should in no way bring disrepute to the college of their study. I am sure our students will always strive to uphold the dignity of our college and keep its flag ever flying high. India is known for its rich values, culture and heritage. I impress upon all our students to uphold the high values of our esteemed culture.
                        <br />
                        <br />
                        We organize special coaching for the students appearing for NEET, JEE and other State Level Competitive Examinations. Expert teachers are deputed for this special coaching. Thus, we provide ample opportunities for the students to get admission in Medical, Engineering, Architecture and Polytechnic courses. Our students have secured more than 90% and above in HSC examination while several students have scored Hundred percent in Chemistry and Biology.
                        <br />
                        <br />
                        <strong>I wish our students all success in their endeavors.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
