{% extends 'base.html' %}

{% block title %}SHRI SIDDHI VINAYAK EDUCATIONAL TRUST TIBBI - School Profile{% endblock %}

{% block content %}
<div class="mid">
    <div class="Profilemid">
        <div class="profilemid1">
            <h2>Trust at a Glance</h2>
        </div>
        <div class="profilemid2">
            <div class="profilemid21">
                <img src="{{ url_for('static', filename='images/mid-2.jpg') }}" height="510px" width="100%" alt="School Building">
            </div>
            <div class="profilemid21">
                <p><b>Name of Trust: </b>Shri Siddhi Vinayak Educational Trust, Tibbi</p>

                <p><b>Trust Reg. No.: </b>3/2018/HANUMANGARH</p>

                <p><b>Establishment Date: </b>07-Mar-2018</p>

                <p><b>Year Established:</b> 2018</p>

                <p><b>12-AA Reg. No.: </b>CIT EXEMPTION, JAIPUR/12AA/2018-19/A/10291</p>

                <p><b>80-G Reg. No.: </b> CIT EXEMPTION, JAIPUR/80G/2020-21/A/0144</p>
                <p><b>NITI Aayog Reg. No.: </b> RJ/2019/0246688</p>
                <p><b>CSR activities and Reg. No.: </b> CSR00081170</p>

                <p><b> Postal Address: </b>Near Post office Tibbi, Dist.- Hanumangarh, Rajasthan, Pincode - 335526
                </p>

                <p><b> Telephones: </b>+91 94133-78652 </p>

                <p><b> E-Mail: </b>ssvet732018@gmail.com</p>

                <p><b> Website: </b>www.ssvtrust.com</p>
            </div>
        </div>
        <div class="profilemid3">
            <div class="profilemid31">
                <p><b>Foundation and Registration: </b> Shri Siddhi Vinayak Educational Trust was established on 7th March 2018 with a strong commitment to promoting education and social welfare. The Trust is formally registered under the Rajasthan Trust Act, 1959 (42) and operates from Tibbi, Hanumangarh, Rajasthan. </p>
                <p><b>Leadership: </b> The Trust is led by Shri Gauri Shankar Kalyani, whose vision and dedication have been instrumental in shaping its objectives and initiatives. Under his guidance, the Trust has focused on addressing the educational needs of underprivileged communities, aiming to make quality education accessible to all. </p>
                <p><b>Mission and Objectives: </b> Shri Siddhi Vinayak Educational Trust is dedicated to providing educational opportunities to economically disadvantaged groups. The Trust's primary objective is to bridge the education gap by running schools and offering quality education to children from financially challenged backgrounds. The Trust's mission is grounded in the belief that education is a powerful tool for social change and empowerment. </p>
            </div>
        </div>
        <div class="profilemid2">
            <div class="profilemid21">
                <h3 class="textcenter">Our Directions</h3>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3470.7716898968897!2d74.50246451510365!3d29.552142482064145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39169479fadf422b%3A0xc5fa9af2b5fbb9d!2sShri+Siddhi+Vinayak+Shikshan+Sansthan!5e0!3m2!1sen!2sin!4v1541841188215" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="profilemid21">
                <h3 class="textcenter">Opening Hours</h3>
                <p class="textcenter"><b>Mon-Sat : </b> 8 AM to 5 PM </p>
                <p class="textcenter"><b>Sunday : </b> Closed </p>
                <div class="newsletter">
                    <h3 class="textcenter">Subscribe Our Newsletter</h3>
                    <form action="#" method="post" class="textcenter">
                        <input class="" placeholder="Enter your email..." required="">
                        <button type="submit" class="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
